<div class="injectedPage">
  <table>
    <tr>
      <th>Spieler</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Winrate</th>
      <th>Punkte Summe</th>
      <th>Punkte DurchSchnitt</th>
      <th>Rang Durchschnitt</th>
    </tr>
    <% for(var i=0; i<data.length; i++){
      if(!data[i].hasNotPlayed){%>
      <tr id="player<%=i%>">
        <td><%=data[i].player%></td>
        <td><%=data[i].five01.wins%></td>
        <td><%=data[i].five01.losses%></td>
        <td><%=data[i].five01.winrate +'%'%></td>
        <td><%=data[i].five01.score%></td>
        <td><%=data[i].five01.scoreAverage%></td>
        <td><%=data[i].five01.rank%></td>
      </tr>
    <%}
      }%>
  </table>
</div>
