<div class="injectedPage">
  <table>
    <tr>
      <th>Spieler</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Winrate</th>
      <th>Cricket-Score-Summe</th>
      <th>Cricket-Score-Relativ</th>
      <th>Cricket-Rang</th>
    </tr>
    <% for(var i=0; i<data.length; i++){
      if(!data[i].hasNotPlayed){%>
      <tr id="player<%=i%>">
        <td><%= data[i].player %></td>
        <td><%= data[i].cricketWins %></td>
        <td><%= data[i].cricketLosses %></td>
        <td><%= data[i].cricketWinrate +'%' %></td>
        <td><%= data[i].cricketScoreSum %></td>
        <td><%= data[i].cricketScoreRel %></td>
        <td><%= data[i].cricketRank %></td>
      </tr>
    <%}
      }%>
  </table>
</div>
