<div class="injectedPage">
  <table>
    <tr>
      <th>Spieler</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Winrate</th>
      <th>Cricket-Score</th>
      <th>501-Score</th>
    </tr>
    <% for(var i=0; i<data.length; i++){
      if(!data[i].hasNotPlayed){%>
      <tr id="player<%=i%>">
        <td><%= data[i].player %></td>
        <td><%= data[i].winsTotal %></td>
        <td><%= data[i].lossesTotal %></td>
            <% if(data[i].gamesTotal === 0){%>
            <td><%= 'n.A.' %></td>
            <% }else{ %>
            <td><%= data[i].winrateTotal + '%' %></td>
            <% } %>
        <td><%= data[i].cricketScoreRel %></td>
        <td><%= data[i].five01ScoreRel %></td>
      </tr>
    <%}
      }%>
  </table>
</div>
