<div class="injectedPage">
  <table>
    <tr>
      <th>Spieler</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Winrate</th>
      <th>Cricket-Score</th>
      <th>501-Score</th>
    </tr>
    <% for(var i=0; i<data.length; i++){
      if(!data[i].hasNotPlayed){%>
      <tr id="player<%=i%>">
        <td><%= data[i].player %></td>
        <td><%= data[i].total.wins %></td>
        <td><%= data[i].total.losses %></td>
            <% if(data[i].total.games === 0){%>
            <td><%= 'n.A.' %></td>
            <% }else{ %>
            <td><%= data[i].total.winrate + '%' %></td>
            <% } %>
        <td><%= data[i].cricket.scoreAverage %></td>
        <td><%= data[i].five01.scoreAverage %></td>
      </tr>
    <%}
      }%>
  </table>
</div>
