<div class="injectedPage">
  <div class="updateGamePage">
    <p>501</p>
    <form action="sendUpdate" id="sendUpdate" name='501'>
      <table class='updateTable'>
        <tr>
          <th>Spieler</th>
          <th>Score</th>
          <th>Rang</th>
        </tr>
        <%for(var i=0; i<names.length;i++){%>
          <tr id='<%=i%>'>
            <td class='playerName'>
              <%=names[i]%>
            </td>
            <td>
              <input name="updateScore" class="updateScore">
            </td>
            <td>
              <select name="updateRang" class='updateRang'>
              <%for(var j=1; j<names.length + 1; j++){
                if(j-1===i){%>
                <option name="<%=j%>" id="rang<%=j%>" selected>
                  <%=j%>
                </option>
                <%}else{%>
                  <option name="<%=j%>" id="rang<%=j%>">
                    <%=j%>
                  </option>
                <%}
              }%>
              </select>
            </td>
          </tr>
        <%}%>
      </table>
      <button type="submit">Send</button>
    </form>
  </div>
</div>
